<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>菜单模块表单</title>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    </head>

    <body>
        <form th:action="@{/module/save}" th:object="${module}" method="post">
            <table>
                <tr>
                    <td>name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</td>
                </tr>
                <tr>
                    <td>code:</td>
                    <td><input type="text" th:field="*{code}" /></td>
                    <td th:if="${#fields.hasErrors('code')}" th:errors="*{code}">code error</td>
                </tr>
                <tr>
                    <td>parentId:</td>
                    <td>
                        <select th:field="*{parentId}" name="parentId">
                            <option value="-1">==请选择==</option>
                            <option value="1">1</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>path:</td>
                    <td><input type="text" th:field="*{path}" /></td>
                    <td th:if="${#fields.hasErrors('path')}" th:errors="*{path}">path error</td>
                </tr>
                <tr>
                    <td>url:</td>
                    <td><input type="text" th:field="*{url}" /></td>
                    <td th:if="${#fields.hasErrors('url')}" th:errors="*{url}">url error</td>
                </tr>
                <tr>
                    <td>remark:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>createName:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>createDate:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>updateName:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>updateDate:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" value="保存"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>