<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>文件管理</title>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />-->
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
        <style>
            table {
                border: 1px solid red;
                width: 100%;
                height: 100%;
            }
            td,th {
                border: 1px solid red;
            }
        </style>

    </head>

    <body>
        <a th:href="@{/file/fileUp}">上传文件</a>
        <a href="" onclick="downloadZip()">打包下载</a>
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" id="qx" onclick="qxan(this)" /></th>
                    <th>文件名称</th>
                    <th>文件大小</th>
                    <th>文件后缀</th>
                    <th>文件路径</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="filelist">
                <tr th:each="file : ${list}">
                    <td><input type="checkbox" name="fileId" th:value="${file.id}" /></td>
                    <td th:text="${file.oldName}"></td>
                    <td th:text="${file.size}"></td>
                    <td th:text="${file.suffix}"></td>
                    <td th:text="${file.path}"></td>
                    <td><a th:href="@{/file/download(id=${file.id})}">下载</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
<script type="text/javascript">
    //
    //alert(window.location.protocol + '//' + window.location.host)
    var flag = true;
    function qxan(a){
        var cb = $("input:checkbox");
        for(var i = 0; i < cb.length; i++) {
            cb[i].checked = flag;
        }
        flag = !flag;
    }
    function downloadZip() {
        var arrays = new Array();
        var cbs = $("input[name='fileId']:checked");
        if (cbs.length == 0) {
            alert("請至少選擇一個");
            return ;
        }
        for(var i = 0; i < cbs.length; i++) {
            arrays.push(cbs[i].value);
        }
        var ids = arrays.join(',');
        //alert(ids);
        $.ajax({
            type: 'POST',
            url: '/file/downloadZip',
            data: {ids: ids},
            success: function (data) {
                console.log(data);
            }, error: function(data){
                console.log(data);
            }
        });
    }
</script>