<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>Title</title>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    </head>

    <body>
        <a th:href="@{/module/list}">module list</a><br />
        <a th:href="@{/module/create}">module create</a><br />
        <hr />
        <a th:href="@{/role/list}">role list</a><br />
        <a th:href="@{/role/create}">role create</a><br />
        <hr />
        <a th:href="@{/login/list}">login list</a><br />
        <a th:href="@{/login/create}">login create</a><br />
        <hr />
        <a th:href="@{/user/list}">user list</a><br />
        <a th:href="@{/user/create}">user create</a><br />
    </body>
</html>